<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body>
<div class="header">
<h1>The Comedy Club</h1>
</div>
<div class="topImage">
<nav>
<div class="links">
  <ul>
    <ol><button (click)="displayTable()">Home</button></ol>
    <ol><button (click)="loadComedians()">Comedians</button></ol>
  </ul>
</div>

</nav>

 <!-- Comedian Carousel -->
 <div class="view_carousel">
  <div class="card-container">
    <div  *ngFor="let comedian of comedians">
      <img [src] = "comedian.imageUrl" class="card" (click)="displayComedian(comedian)" >
      <p>{{comedian.firstName + " " +comedian.lastName}}</p>
    </div>
  </div>
</div>
</div>

<!-- Event Table -->
<div *ngIf="!selectedEvent && !selectedComedian && !selectedVenue">
<table class="table table-stiped table-hover">
<thead>
<tr>
  <th colspan="4">Comedy Shows</th>
</tr>
</thead>
<tbody>
<tr *ngFor= "let comedyEvent of comedyEvents">
  <td (click)="displayEvent(comedyEvent)"><img [src] = "comedyEvent.comedian.imageUrl" class="img-fluid rounded-circle mb-2"
            style = "width: 80px; height: 80px"  alt="Image of {{comedyEvent.comedian.firstName}} {{comedyEvent.comedian.lastName}}"></td>
  <td (click)="displayEvent(comedyEvent)">{{comedyEvent.comedian.firstName + " " + comedyEvent.comedian.lastName }}</td>
  <td>{{comedyEvent.performanceDate}}</td>
  <td><button class="btn"(click)="deleteEvent(comedyEvent.id)"><i class="material-icons">delete</i></button></td>
</tr>
</tbody>
</table>
<button *ngIf="!showNewEventForm" (click)="toggleNewEvent()">Add New Comedy Show to List</button>
</div>


<!-- Create Comedy Event Form -->
 <div class="createForm" *ngIf="!selectedEvent && !selectedComedian && !selectedVenue && showNewEventForm">
<form *ngIf="showNewEventForm">
  <h3>*Add a show*</h3>
  <label for= "comedyEvent.comedian">Comedian</label>
  <select name= "comedyEvent.comedian.id" [(ngModel)]="newEvent.comedian">
  <!-- <option>Add new comedian</option> -->
  <option *ngFor="let comedian of comedians" value="{{comedian.id}}">{{comedian.firstName + " " + comedian.lastName}}</option>
  </select>
  <button *ngIf="!showNewComedianForm" (click)="toggleNewComedian()">Add New Comedian</button>

  <!-- Create Comedian -->
<form *ngIf="newComedian && showNewComedianForm">
<label for="comedian.firstName">First Name</label>
<input type="text" name="comedian.firstName" [(ngModel)]="newComedian.firstName">

<label for="comedian.lastName">Last Name</label>
<input type="text" name="comedian.lastName" [(ngModel)]="newComedian.lastName">

<label for= "comedian.category">Category</label>
  <select name= "comedian.category.id" [(ngModel)]="newComedian.category.id">
    <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
  </select>

<label for="comedian.imageUrl">Image</label>
<input type="text" name="comedian.imageUrl" [(ngModel)]="newComedian.imageUrl">

Notes<br><textarea name="comedian.notes" placeholder="Info about comedian"  [(ngModel)]="newComedian.notes"></textarea><br>

<button class=button (click)="createComedian(newComedian)">Submit</button>
<button *ngIf="showNewComedianForm" (click)="cancelNewComeidan()">Cancel</button>
</form>

  <br><label for= "venue.name">Venue</label>
  <select name= "comedyEvent.venue.id" [(ngModel)]="newEvent.venue">
  <option *ngFor="let venue of venues" value="{{venue.id}}">{{venue.name}}</option>
  </select>
  <button *ngIf="!showNewVenueForm" (click)="toggleNewVenue()">Add New Venue</button>
    <!-- Create Venue -->
<form *ngIf="showNewVenueForm">
  <label for="venue.name">Venue Name</label>
  <input type="text" name="venue.name" [(ngModel)]="newVenue.name">

  <label for="venue.street">Venue Street Address</label>
  <input type="text" name="venue.street" [(ngModel)]="newVenue.street">

  <label for="venue.street2">Venue Street 2</label>
  <input type="text" name="venue.street2" [(ngModel)]="newVenue.street2">

  <label for="venue.city">Venue City</label>
  <input type="text" name="venue.city" [(ngModel)]="newVenue.city">

  <label for="venue.state">Venue State</label>
  <input type="text" name="venue.state" [(ngModel)]="newVenue.state">

  <label for="venue.country">Venue Country</label>
  <input type="text" name="venue.country" [(ngModel)]="newVenue.country">

  <label for="venue.imageUrl">Venue Image</label>
  <input type="text" name="venue.imageUrl" [(ngModel)]="newVenue.imageUrl">
<button class=button (click)="createVenue(newVenue)">Submit</button>
<button *ngIf="showNewVenueForm" (click)="cancelNewVenue()">Cancel</button>
</form>

  <br><label for= "comedyEvent.rating">Rating</label>
  <select name= "comedyEvent.rating" [(ngModel)]="newEvent.rating">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  </select>

  <label for="comedyEvent.ticketPrice">Comedy Show Ticket Price</label><br>
  $<input type="number" name="comedyEvent.ticketPrice" [(ngModel)]="newEvent.ticketPrice">

  <label for="comedyEvent.notes">Comedy Show Notes</label><br>
  <input type="text" name="comedyEvent.notes" placeholder="Notes about the show" [(ngModel)]="newEvent.notes">

  <label for="comedyEvent.performanceDate">Date of Show</label><br>
  <input type="date" name="comedyEvent.performanceDate" [(ngModel)]="newEvent.performanceDate"><br>

<button  class=button (click)=createEvent(newEvent)>Submit </button>
<button  class=button (click)=cancelNewEvent()>Cancel </button>
</form>
</div>



<!-- Display Comedy Event -->
<div class="comedyEvent" *ngIf="selectedEvent && !editEvent">
 <img [src] = "selectedEvent.comedian.imageUrl">
 <div class="eventInfo">
 <h3>{{selectedEvent.comedian.firstName + " " + selectedEvent.comedian.lastName }}</h3><br>
 <p>Venue: {{selectedEvent.venue.name}}</p><br>
 <p>Date of show: {{selectedEvent.performanceDate}}</p><br>
 <p>Ticket Price: ${{selectedEvent.ticketPrice}}</p><br>
 <p>Notes: {{selectedEvent.notes}}</p><br>
 <button class=button (click)=displayTable()>Back</button>
 <button class=button (click)="setEditEvent(selectedEvent)">Update Event</button>
 <button class="deleteButton"(click)="deleteEvent(selectedEvent.id)" (click)="displayTable()">Delete Event</button>

 </div>
</div>

<!-- Edit Comedy Event -->
<div class="editEventForm" *ngIf="editEvent">
<form>
  <h3>*Update*</h3>
  <label for="comedyEvent.venue.id">Venue</label>
  <select name= "comedyEvent.venue.id" [(ngModel)]="editEvent.venue.id">
  <option *ngFor="let venue of venues" value="{{venue.id}}">{{venue.name}}</option>
  </select>

  <label for="performanceDate">Date of Show</label><br>
  <input type="date" name="performanceDate" [(ngModel)]="editEvent.performanceDate"><br>

  <label for="ticketPrice">Ticket Price</label><br>
  $<input type="number" name="ticketPrice" [(ngModel)]="editEvent.ticketPrice"><br>

  <label for="notes">Notes</label><br>
  <textarea name="notes" [(ngModel)]="editEvent.notes"></textarea><br>
<button class=button (click)="updateEvent(editEvent)" (click)="editEvent = null">Save</button>
<button class=button (click)="editEvent = null">Cancel</button>
</form>
</div>

<!-- Comedian Table -->
<div class="comedianTable" *ngIf="!selectedEvent && !selectedComedian && ! selectedVenue">
  <table class="table table-stiped table-hover">
  <thead class="table table-dark">
  <tr>
    <th>Comedians</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor= "let comedian of comedians" (click)="displayComedian(comedian)">
    <td><img [src] = "comedian.imageUrl" class="img-fluid rounded-circle mb-2"
              style = "width: 80px; height: 80px"  >  {{comedian.firstName + " " + comedian.lastName }}</td>
  </tr>
  </tbody>
  </table>
  </div>

  <!-- Display Comedian -->
<div class="comedian" *ngIf="selectedComedian">
  <img [src] = "selectedComedian.imageUrl" alt="Image of {{selectedComedian.firstName}} {{selectedComedian.lastName}}">
  <div class="comedianInfo">
  <p>{{selectedComedian.firstName + " " + selectedComedian.lastName}}</p><br>
  <p>Catetory: {{selectedComedian.category.name}}</p><br>
  <p>Notes: {{selectedComedian.notes}}</p><br>
  <button (click)=displayTable()>Back</button>
  <button class="deleteButton"(click)="deleteComedian(selectedComedian.id)" (click)="displayTable()">Delete Comedian</button>
 </div>
</div>


<!-- Venue Table -->
<div class="venueTable" *ngIf="!selectedEvent && !selectedComedian && !selectedVenue">
  <table class="table table-stiped table-hover">
  <thead class="table table-dark">
  <tr>
    <th colspan="2">Venues</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor= "let venue of venues" (click)="displayVenue(venue)" >
    <td><img [src] = "venue.imageUrl" class="img-fluid rounded-circle mb-2"
              style = "width: 80px; height: 80px" ></td>
    <td>{{venue.name}}</td>
  </tr>
  </tbody>
  </table>
  </div>

  <!-- Display Venue -->
<div class="venueInfo" *ngIf="selectedVenue">
  <img [src] = "selectedVenue.imageUrl">
  <div class="venue">
  <h3>{{selectedVenue.name}}</h3><br>
  <p>Street: {{selectedVenue.street}}</p><br>
  <p>Street 2: {{selectedVenue.street2}}</p><br>
  <p>City: {{selectedVenue.city}}</p><br>
  <p>State: {{selectedVenue.state}}</p><br>
  <p>Zip: {{selectedVenue.postalCode}}</p><br>
  <p>Country: {{selectedVenue.country}}</p><br>
  <button class=button (click)=displayTable()>Back</button>


  </div>
 </div>


</body>
